/target
microclaw.config.yaml
microclaw.config.yaml.*
microclaw.data/*
!microclaw.data/skills/
!microclaw.data/skills/**
# Do not commit credentials in skill folders
microclaw.data/skills/**/.env
website/
tmp/
working_dir/
web/node_modules/
shared/*

.cursorrules
